/*================
Tag Line Container
================*/
.tag-line-wrapping-container {
    background: linear-gradient(101.77deg, var(--clr-bg-primary) 37%, var(--clr-primary)90.9%);
    background-blend-mode: screen;

    margin-inline: 0;
}

.tag-line-container {
    justify-content: space-between;
    align-items: center;
}

.tag-line-container .tag-line {
    margin-block: 5rem;
    width: 50%;
}

.tag-line-container .tag-line .btn-container {
    margin: 0;
    margin-block: 1rem;
    padding-inline: 0;
}

.tag-line-container .tag-line .btn-container button {
    margin-right: 1.3rem;
}

.tag-line-container .image-container {
    width: 50%;
    padding: 0;
    margin: 0;
    margin-inline: 0.3rem;
}

.tag-line-container .image-container img {
    border-radius: 0.7rem;
    box-shadow: 7px 7px 7px 1px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 1200px) {
    .tag-line-wrapping-container {
        background: linear-gradient(101.77deg, var(--clr-bg-primary) 30%, var(--clr-primary)95.9%);
    }

    .tag-line-container {
        flex-direction: column;
    }

    .tag-line-container .tag-line,
    .tag-line-container .image-container {
        width: 75%;
        justify-content: flex-start;
    }

    .tag-line-container .tag-line {
        /* width: 90%;
        height: 70%; */
        margin-block: 1rem;
    }

    .tag-line-container .image-container {
        height: 30%;
    }

    .tag-line-container .tag-line .big-heading-1,
    .tag-line-container .tag-line .big-heading-2 {
        width: fit-content;
        display: inline-block;
    }

    .tag-line-container .tag-line .big-heading-1 {
        font-size: 3.9rem;
    }

    .tag-line-container .tag-line .big-heading-2 {
        font-size: 6.3rem;
    }
}

@media only screen and (max-width: 768px) {   
    .tag-line-wrapping-container {
        background: linear-gradient(101.77deg, var(--clr-bg-primary) 30%, var(--clr-primary)100.9%);
    }
    
    .tag-line-container .image-container,
    .tag-line-container .tag-line {
        width: 90%;
    }
}

/*====================
Service View Container
====================*/
.service-view-container .heading-container .sub-heading {
    margin-top: 0;
}

.service-view-container .routine-container {
    justify-content: space-between;
    margin-block: 1.5rem;
}

.service-view-container .routine-container .routine img {
    object-fit: cover;

    border-radius: 0.7rem;
    box-shadow: 2px 2px 15px -7px var(--clr-primary);
}

.service-view-container .routine-container .routine .text-sub-heading {
    height: max-content;
    margin-block: 0.3rem;
}

/* Large devices (tablets, small laptops, 1024px and below) */
@media only screen and (max-width: 1024px) {
    .service-view-container .routine-container {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .service-view-container .routine-container .routine {
        width: 35%;
    }
}

@media only screen and (max-width: 768px) {
    .service-view-container .routine-container .routine {
        width: 45%;
    }
}

/*=======================
Results Promise Container
=======================*/
.results-promise-wrapping-container {
    background-color: var(--clr-bg-secondary);
    margin-inline: 0;
}

.results-promise-container .heading-container .sub-heading {
    margin-top: 0;
}

.results-promise-container .promise-container {
    justify-content: space-between;
}

.results-promise-container .promise-container .promise {
    width: 15%;
}

.results-promise-container .promise-container .promise img {
    display: block;
    margin: auto;
    width: 60%;
    height: 60%;
    filter: drop-shadow(1px 1px 170px var(--clr-primary));
}

.results-promise-container .promise-container .promise .text-sub-heading {
    font-size: 1.15rem;
}

.results-promise-container .primary-btn {
    display: block;
    margin: auto;

    margin-block: 2rem;
    margin-top: 2.5rem;
}

@media only screen and (max-width: 1500px) {
    .results-promise-container .promise-container {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .results-promise-container .promise-container .promise{
        width: 30%;
    }

    .results-promise-container .promise-container .promise img {
        width: 30%;
        height: 30%;
    }
}

@media only screen and (max-width: 1024px) {
    .results-promise-container .promise-container .promise img {
        width: 40%;
        height: 40%;
    }
}

@media only screen and (max-width: 768px) {
    .results-promise-container .promise-container .promise {
        width: 40%
    }
}

@media only screen and (max-width: 411px) {
    .results-promise-container .promise-container .promise img {
        width: 50%;
        height: 50%;
    }
}

/*==============
Review Container
==============*/
.review-container .heading {
    margin-block: 2rem;
}

.review-container .review {
    width: 70%;
    margin-inline: auto;
    margin-block: 3rem;
    
    padding: 1.1em;
}

.review-container .review .text-sub-heading:nth-child(1) {
    margin-top: 0;
}

.review-container .review .star-ratings .fas.fa-star {
    color: gold;
}

.review-container .review .text-sub-heading.ratings-source {
    margin-block: 0;
}

@media only screen and (max-width: 768px) {
    .review-container .review {
        width: 90%;
    }
}

/*==========================
Awards Recognition Container
==========================*/
.awards-recognition-wrapping-container {
    background-color: var(--clr-bg-secondary);
    margin-block: 0;
}

.awards-recognition-container .heading {
    margin-block: 2rem;
}

.awards-recognition-container .awards-container {
    justify-content: space-between;
}

.awards-recognition-container .awards-container .award {
    justify-content: space-between;
    width: 50%;
}

.awards-recognition-container .awards-container .award:nth-child(1) {
    border-right: 1px solid var(--clr-txt-secondary);
}

.awards-recognition-container .awards-container .award img {
    width: 130px;
    height: 130px;
    
    margin-top: 2rem;
}

.awards-recognition-container .awards-container .award .award-description .text-sub-heading {
    margin: 0;
    margin-inline: 1.25rem;
}

.awards-recognition-container .awards-container .award .award-description .star-ratings {
    margin-top: 0.5rem;
}

.awards-recognition-container .awards-container .award .award-description .star-ratings .text-sub-heading {
    display: inline-block;
    width: 4rem;
    margin: 0;
    margin-inline: 1.25rem;
}

.awards-recognition-container .awards-container .award .award-description .star-ratings .fas.fa-star {
    display: inline-block;
    margin: 0;
    margin-right: 0.3rem;

    color: gold;
}

@media only screen and (min-width: 1900px) {
    .awards-recognition-container .awards-container .award img{
        margin-top: 1rem;
    }
}

@media only screen and (max-width: 1300px) {
    .awards-recognition-container .awards-container {
        flex-direction: column;
    }

    .awards-recognition-container .awards-container .award {
        width: 100%;
        padding-block: 2rem;
    }

    .awards-recognition-container .awards-container .award:nth-child(1) {
        border: none;
        border-bottom: 1px solid var(--clr-txt-secondary);
    }

    .awards-recognition-container .awards-container .award img{
        width: 20%;
        height: 20%;

        display: block;
        margin-block: auto;
    }

    .awards-recognition-container .awards-container .award .award-description .star-ratings .text-sub-heading {
        width: 7rem;
    }
}

@media only screen and (max-width: 768px) {
    .awards-recognition-container .heading.text-center {
        width: min-content;
    }

    .awards-recognition-container .awards-container {
        margin-top: 0;
    }

    .awards-recognition-container .awards-container .award {
        flex-direction: column;
    }

    .awards-recognition-container .awards-container .award img{
        margin-inline: auto;
        margin-block: 1rem;

        width: 150px;
        height: 150px;
    }
}

@media only screen and (max-width: 411px) {
    .awards-recognition-container .awards-container .award img{
        width: 140px;
        height: 140px;
    }

    .awards-recognition-container .awards-container .award .award-description .star-ratings .text-sub-heading {
        margin-right: 0.5rem;
    }
}

/*===============
Sign Up Container
===============*/
.sign-up-wrapping-container {
    background-color: var(--clr-primary);
    margin-block: 0;

    padding-block: 5em;
}

.sign-up-container .sign-up-text .big-heading-1 {
    width: min(100%, 45rem);
    line-height: 1;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sign-up-container .sign-up-text .heading {
    color: var(--clr-bg-primary);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sign-up-container .secondary-btn {
    display: block;
    margin-block: auto;

    padding: 1em;
    font-size: 1.3rem;
}

@media only screen and (max-width: 1024px) {
    .sign-up-container {
        flex-direction: column;
        align-items: center;
    }

    .sign-up-container .sign-up-text .big-heading-1,
    .sign-up-container .sign-up-text .heading {
        width: fit-content;
        text-align: center;
        margin-top: 1.5rem;
        margin-inline: auto;
    }

    .sign-up-container .sign-up-text .big-heading-1 {
        font-size: 3.5rem;
    }

    .sign-up-container .sign-up-text .heading {
        font-size: 2.5rem;
    }

    .sign-up-container .secondary-btn {
        font-size: 1rem;
        padding: 1em;
        margin: 2rem;
        width: 40%;
    }
}

/*==============
Safety Container
==============*/
.safety-container .heading {
    margin-block: 2rem;
}

.safety-container .safety-measures {
    width: 100%;
    margin: auto;
}

@media only screen and (max-width: 768px) {
    .safety-container .safety-measures ul {
        padding-inline: 2em;
    }
}

@media only screen and (max-width: 411px) {
    .safety-container .safety-measures ul {
        padding-inline: 1em;
    }
}