/*==============
Nabar Container
==============*/
.navbar-container {
    padding-top: 0;
    margin-top: 1.5rem;
    margin-inline: 0;
    justify-content: space-between;
}
.navbar-container .logo-image {
    width: 11%;
}

.navbar-container .page-links-container a {
    width: max-content;
}

@media only screen and (max-width: 768px) {
    .navbar-container .page-links-container {
        display: none;
    }
}
