/*===========
 Font Imports
===========*/
/* Roboto: Medium(500), Bold(700), Black(900) */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');

/* Open Sans: Light(300), Regular(400), Semi-Bold(600) */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

/*=============
 Default Styles
=============*/
:root {
    font-size: 1em;
}

html {
    scroll-behavior: smooth;
}

*  {
    --clr-primary: #D91616;

    --clr-bg-primary: #0C0000;
    --clr-bg-secondary: #3E3A3A;

    --clr-txt-primary: var(--clr-primary);
    --clr-txt-secondary: #E9E3E7;

    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", serif; 

    color: var(--clr-txt-secondary);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Extra small devices (phones, 250px and up) */
@media only screen and (min-width: 250px) {
    :root {
        font-size: 0.3em;
    }
}

/* Extra small devices (phones, 600px and up) */
@media only screen and (min-width: 600px) {
    :root {
        font-size: 0.4em;
    }
}

/* Small devices (portrait tablets and large phones, 768px and up) */
@media only screen and (min-width: 768px) {
    :root {
        font-size: 0.5em;
    }
}

/* Medium devices (landscape tablets, 992px and up) */
@media only screen and (min-width: 992px) {
    :root {
        font-size: 0.6em;
    }
}

/* Large devices (laptops/desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    :root {
        font-size: 0.7em;
    }
}

/* Large devices (laptops/desktops, 1300px and up) */
@media only screen and (min-width: 1300px) {
    :root {
        font-size: 0.8em;
    }
}

/* Extra large devices (large laptops and desktops, 1500px and up) */
@media only screen and (min-width: 1500px) {
    :root {
        font-size: 0.9em;
    }
}

/* Extra large devices (large laptops and desktops, 1500px and up) */
@media only screen and (min-width: 1500px) {
    :root {
        font-size: 1em;
    }
}

/*---
 Tags
---*/
body {
    font-family: var(--ff-primary);
    font-weight: 700;
    font-size: 1.3125rem;
    line-height: 1.6;

    background-color: var(--clr-bg-primary);
}

h1,
h2,
h3,
p {
    margin: 0;
}

a {
    margin: 0.5rem;
    margin-inline: 1.1rem;
    padding-block: 0.3em;
    text-decoration: none;
}

hr { 
    border: 0;
    margin: 5rem auto;
    width: 70%;
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #ffffff, #f0f0f0, #a3a2a2, #f0f0f0, #ffffff);
}

button {
    cursor: pointer;
    padding: 0.5em;
    font-size: 1.3rem;
    height: fit-content;
    border-radius: 0.7rem;
    color: var(--clr-txt-secondary);
    background-color: var(--clr-primary);
    border: 2px solid var(--clr-primary);
    box-shadow: 0 3px 7px rgb(0 0 0 / 20%);

    transition: all 230ms ease-in-out;
}

button:hover {
    box-shadow: 0 5px 11px rgb(0 0 0 / 30%);
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

/*-------------
 Custom Classes
-------------*/
.text-shadow {
    text-shadow: 0 3px 7px rgb(0 0 0 / 15%);
}

.primary-color-text {
    color: var(--clr-primary)!important;
}

.big-heading-1 {
    font-size: 5rem;
}

.big-heading-2 {
    line-height: 0.75;
    font-size: 9rem;
}

.heading {
    font-size: 3.3rem;
    font-family: var(--ff-primary);
    font-weight: 500;
}

.sub-heading {
    font-size: 1.3rem;
    font-family: var(--ff-secondary);
    font-weight: 300;
    margin-top: 1rem;
}

.text-heading {
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
    margin: auto;
}

.text-sub-heading {
    font-size: 1rem;
    margin-block: 1.1rem;
    text-align: center;
}

.container {
    height: auto;
    padding: 0.5em;
    margin: 0.5rem;
}

.container-span-width {
    width: min(70%, 100rem);
    margin: auto!important;
}

.container-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.container-flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.container-grid {
    display: grid;
    place-items: center;
    justify-content: space-around;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto;
    column-gap: 1rem;
    row-gap: 1rem;
}

.primary_color_gradient_text {
    background: linear-gradient(to left, var(--primary_color), var(--font-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.primary-btn {
    color: var(--clr-txt-secondary);
    background: var(--clr-primary);
    border-color: var(--clr-primary);
}

.secondary-btn {
    color: var(--clr-txt-secondary);
    background: var(--clr-bg-secondary);
    border-color: var(--clr-bg-secondary);
}
